nav{
    background: #ff7700;
    padding: 30px;
    }

.nav-enlace{
    display: inline-block;
    background: F6851Frgba(248, 248, 248, 0);
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: #f89f50;
    border-radius: 30px;    
}

.fuente{
    font-family: 'Oxygen', sans-serif;
}
@media (max-width: 600px)